body,
html {
  font-family: helvetica;
  background-color: #41B2A3;
  color: #fff;
}
input {
    background-color: #e27d60;
    border-style: none;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
}
button {
    background-color: #e8a87c;
    border-style: none;
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border-radius: 20px;
    color: #fff;
}
